<style>
  footer a {
    color: #888 !important;
  }
  * {
    --bulma-footer-background-color: white !important;
    --bulma-footer-padding: 3rem 1.5rem 3rem !important;
  }
</style>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      This conference follows the 
      <a
        href="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/about/ieee_code_of_conduct.pdf"
        target="_blank"
        rel="noopener"
        class="has-text-weight-semibold"
      >
        IEEE Code of Conduct
      </a>
      &middot;
      <a
        href="https://www.ieee.org/security-privacy.html"
        target="_blank"
        rel="noopener"
        class="has-text-weight-semibold"
      >
        IEEE Privacy Policy
      </a>
    </p>
  </div>
</footer>