/* Font Setup */

@font-face {
  font-family: 'Ubuntu Sans';
  src: url('../fonts/ubuntu.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
}
 
* {
  --bulma-body-size: 1.0rem !important;
  --bulma-body-weight: 400 !important;
  font-family: 'Ubuntu Sans', sans-serif;
}

/* Sections */

section.section .container {
  max-width: 1100px !important;
}

section {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

/* Headings & Font Sizes */

.is-size-1 {
    font-size: 2.2rem !important
}

h1 {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
}

.is-size-2 {
    font-size: 1.7rem !important
}

h2 {
  font-size: 1.3em !important; 
  color: brown !important;
  font-weight: 500 !important;
}

.is-size-3 {
    font-size: 1.3rem !important
}

h3 {
  font-size: 1.1em !important; 
}

.is-size-4 {
    font-size: 1.1rem !important
}

.is-size-5 {
    font-size: 1rem !important
}

.is-size-6 {
    font-size: 1rem !important
}

/* Enumerations */

li {
  margin: -5px 0;
}

li p {
  margin: 15px 0;
}

/* Links */

section.section .container a {
  color: teal !important;
  text-decoration: underline !important;
}